$black: #100F0D;
$black-50: #21201E;
$black-20: #b9b9b9;
$black-10: #cacaca;
$white: #F9F8F6;
$red: #e18080;
$yellow: #ffc446;
$green: #84f37f;
$green-main: #63D72A;
$green-tap: #387516;
$chat: #168a63
